/*reset css*/
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-size: 1.4rem;
            line-height: 1.35;
            color: #000;
        }

        ul, ol {
            list-style: none;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        img {
            vertical-align: top;
            border: 0;
        }

        /*common css*/
        #wrap {
            min-width: 320px;
            overflow: hidden;
        }

        .inner {
            max-width: 1400px;
            padding: 0 5%;
            margin: 0 auto;
        }

        /*main css*/
        header {
            padding-top: 60px;
        }

        .tap-btn {
            background-color: palegoldenrod;
            height: 50px;
            display: flex;
            border: 1px solid #000;
        }

        .tap-btn li {
            width: calc(100% / 8);
            height: 48px;
            text-align: center;
            line-height: 50px;
            transition: all 0.5s;
        }

        .tap-btn li:hover {
            cursor: pointer;
            background-color: palevioletred;
            color: #fff;
        }

        .tap-btn li.active {
            height: 48px;
            background-color: palevioletred;
            color: #fff;
        }

        .tap-con {
            margin-top: 5px;
            border: 1px solid #000;
            height: 800px;
            overflow-y: scroll;
            position: relative;
        }

        .tap-con li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .tap-con li img {
            width: 100%;
        }

        /*tablet*/
        @media screen and (max-width : 1024px) {
            .inner {
                padding: 0 3%;
            }

            .tap-btn li {
                font-size: 1rem;
            }

            .tap-con {
                margin-top: 10px;
            }
        }

        /*mobile*/
        @media screen and (max-width : 768px) {
            .inner {
                padding: 0 2%;
            }

            .tap-btn {
                height: 30px;
            }

            .tap-btn li {
                font-size: 0.6rem;
                line-height: 28px;
            }

            .tap-btn li.active {
                height: 28px;
            }

            .tap-con {
                height: 500px;
            }
        }
